
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out;
}

.animate-float {
  animation: fade-float 3s ease-out infinite;
}


@layer components {
    .darkLight {
        @apply bg-black text-white dark:bg-white dark:text-black
    }


    .Loading {
      @apply fixed inset-0 z-50 flex flex-col items-center justify-center bg-white dark:bg-black  text-black dark:text-white
    }
    .loading-container {
      @apply flex flex-col items-center
    }
    .loading-text {
      @apply mb-4 text-4xl font-bold
    }
}



@layer utilities {

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

} 

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}



body{
  margin: 0;
  padding: 0;
  font-family: "mono", sans-serif;
  color: #0a0a0a;
}

@theme {
    --color-chestnut: #973F29;
    /*pwede rin mga font and bg etc*/
    --primary-accent: #13213C;
    --primary-base: #030303;
    --secondary-palette: #FDFDFD;
    --secondary-palette1: #E5E5E5;
    --secondary-accent: #FCA311;
}



@layer utilities {

  .glass {
    @apply flex flex-col md:flex-row gap-6 w-full items-center
     rounded-xl p-6 dark:bg-[#262626] bg-[#fafafa]
    border-white/5 border shadow-md dark:text-[#f3f3f3] text-[#0a0a0a]
  }
  .card {
    @apply flex flex-col-reverse md:flex-row items-center rounded-xl p-5  dark:bg-[#262626] bg-[#fafafa]
    border-white/5 border shadow-md dark:text-[#f3f3f3] text-[#0a0a0a]
     /* bg-[#f5f5f5]/90 border-white/10 border */
  }
  .cards {
  @apply flex flex-col items-start rounded-xl p-5  
  dark:bg-[#262626] bg-[#fafafa]
  border-white/5 border shadow-md 
  dark:text-[#f3f3f3] text-[#0a0a0a];
}


  .share-icon{
    @apply w-4 h-4 mt-1.5 dark:filter dark:invert
  }
  .logos {
    @apply w-full h-full object-cover group-hover:blur-md transition-all duration-500 ease-in-out
  }
  .logos-text {
    @apply absolute inset-0  bg-black/10  opacity-0 group-hover:opacity-50
               flex items-center justify-center transition-opacity duration-500
  }
  .logos-span {
    @apply dark:text-[#f3f3f3] text-[#0a0a0a]
  }
  .footer-a {
    @apply dark:text-gray-300 dark:hover:text-white
  }


}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}
.reveal.visible{
  opacity: 1;
  transform: translateY(0);
}

